html {
    height:400px;
    width: 400px;
}

body {
    height: 400px;
    width: 400px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: darkgrey;
    text-align: center;
}

.hotlink {
    display:inline-block;
    padding-top:5px;
    padding-right:10px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:disabled + .slider {
    background-color: #696969;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settingsTumbler {
  display:inline;
  position: absolute;
  right: 3%;
}
.setting{
  padding-top:5px;
  padding-bottom:20px;
}
.labelText{
    display:inline;
    font-family: 'Lucida Sans', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 0;
}